extends /base.pug

append scripts 
    if operationMode === "manual"
        script(src="/js/settingsManual.js")
    script(src="/js/settings.js") 

append styles
    link(rel="stylesheet" href="/css/settings.css")
    link(rel="stylesheet" href="/css/form.css")

append variables
    - baseTitle = "Einstellungen"

append content
    h1.display Modus
        select(name="operationMode" id="operationMode")
            option(value="standalone" selected=(operationMode==="standalone")) Standalone
            option(value="manual" selected=(operationMode==="manual")) Manuell
    if operationMode === "manual"
        hr
        h1.drivers Fahrer auswählen und sortieren
            .row
                .btn-group
                    button(id = "activate" disabled) 🟢 AKTIVIEREN
                    button(id = "deactivate" disabled) 🔴 DEAKTIVIEREN
                button(id = "deactivateAll" disabled) 🔁 RESET
                .btn-group
                    button(id = "moveUp" disabled) ⬆️ HOCH
                    button(id = "moveDown" disabled) ⬇️ RUNTER
                button(id = "save" disabled) 💾 SPEICHERN
            .driverSelektors
                .driverSel
                    h2 Aktive Fahrer
                    select(name="activeDrivers" id="activeDrivers" class="noPill" size=activeDrivers.length overflow="hidden" disabled=activeDriversEmpty) 
                        for driver in activeDrivers
                            option(value=driver.id data-training-group=driver.trainingGroup) #{driver.firstName} #{driver.lastName} (#{driver.drivingClass})
                #trainingGroups
                    - var totalGroups = trainingGroups.length;
                    for group, index in trainingGroups
                        .checkbox
                            input(type="checkbox" name="trainingGroups" id=group value=group checked=index < totalGroups - 2)
                            label(for=group) #{group}
                .driverSel
                    h2 Inaktive Fahrer
                    select(name="inactiveDrivers" id="inactiveDrivers" class="noPill" multiple size=inactiveDrivers.length overflow="hidden" disabled=inactiveDriversEmpty)
                        for driver in inactiveDrivers
                            option(value=driver.id data-training-group=driver.trainingGroup) #{driver.firstName} #{driver.lastName} (#{driver.drivingClass})
        hr

        h1.data Daten 
            button(id = "resetData" disabled=disableResetButton) ALLE ZEITEN ZURÜCKSETZEN

    footer 
        p #{ipAddress}