extends /base.pug

append variables
    - baseTitle = "Zeiten"

append scripts 
    script(src="/js/times.js" defer)
    script(src="/js/datatables.min.js")

append styles
    link(rel="stylesheet" href="/css/datatables.min.css")
    link(rel="stylesheet" href="/css/times.css")
    link(rel="stylesheet" href="/css/base.css")

append content 
    table#times
        thead 
            tr
                th ID
                th Fahrer 
                th Klasse
                th FahrzeitRaw
                th Fahrzeit
                th Strafe
                th GesamtzeitRaw
                th Gesamtzeit
                th Fahrzeug
                th Notiz
                th X
        tbody
            for run in times
                tr
                    td #{run.id}
                    td #{run.driver.firstName} #{run.driver.lastName}
                    td #{run.driver.drivingClass}
                    td #{run.time.time}
                    td #{run.time.formattedDriveTime}
                    td #{run.penalty}
                    td #{run.time.time + run.penalty*1000}
                    td #{run.time.formattedTotalTime}
                    td #{run.vehicle.name}
                    td #{run.notes}
                    td
                        button.delete(data-id=run.id) ❌